# Analysis of the skills in Data Engineer role

In [1]:
# libraries import 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

c:\Users\Pc4-5\Documents\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [39]:
# dataset load 
df = pd.read_json("./sql_results_json/top_paying_jobs_skills.json")
df.head()

   job_id company_name      job_title  salary_year_avg   skills
0   21321       Engtal  Data Engineer           325000   python
1   21321       Engtal  Data Engineer           325000    spark
2   21321       Engtal  Data Engineer           325000   pandas
3   21321       Engtal  Data Engineer           325000    numpy
4   21321       Engtal  Data Engineer           325000  pyspark

In [40]:
skills_count = df['skills'].value_counts()
skills_count = skills_count.head(10)
skills_count = skills_count.sort_values(ascending=True)
plt.barh(skills_count.index,skills_count.values)
plt.title("Skills Count for Top Paying Data Engineer Jobs 2023")
plt.xlabel("Frequency")
plt.grid(True,axis="x")
plt.tight_layout()
plt.savefig('./plots/skill_count.png',dpi=300)
plt.close()

In [41]:
job_salary = df.groupby('job_title')['salary_year_avg'].median()
job_salary = job_salary.sort_values(ascending=True)
job_salary
plt.barh(job_salary.index,job_salary.values)
plt.title("Median Salary Distribution for Top Paying Data Engineer Jobs in 2023")
plt.xlabel("Median Yearly Salary ($)")
plt.grid(True,axis="x")
plt.savefig('./plots/median_salary.png',dpi=500,bbox_inches='tight')
plt.close()

In [42]:
skills_df = pd.read_json('./sql_results_json/skills_demand.json')
skills_df = pd.DataFrame(skills_df)
skills_df = skills_df.head(5)
skills_df = skills_df.rename(columns={'skills':'Skills','demand_count':'Demand Count'})
# capitalise all the skills in the Skills column 
skills_df['Skills'] = skills_df['Skills'].str.capitalize()
skills_df
skills_df.to_csv('./table_result/skills_df.csv', index=False)

In [44]:
salary_skills_df = pd.read_json('./sql_results_json/avg_salary.json')
salary_skills_df = pd.DataFrame(salary_skills_df)
salary_skills_df = salary_skills_df.head(10)
salary_skills_df = salary_skills_df.rename(columns={'skills':'Skills','avg_salary':'Average Salary ($)'})
# capitalise all the skills in the Skills column 
salary_skills_df['Skills'] = salary_skills_df['Skills'].str.capitalize()
# switch columns position 
salary_skills_df = salary_skills_df[['Skills','Average Salary ($)']]
salary_skills_df['Average Salary ($)'] = salary_skills_df['Average Salary ($)'].apply(lambda x: f"{x:,}")
salary_skills_df
salary_skills_df.to_csv('./table_result/salary_skills.csv', index=False)

In [45]:
high_skills_df = pd.read_json('./sql_results_json/high_pay_demand_skills.json')
high_skills_df = pd.DataFrame(high_skills_df)
high_skills_df = high_skills_df.head(10)
high_skills_df = high_skills_df.rename(columns={'skills':'Skills','avg_salary':'Average Salary ($)','demand_count':'Demand Count'})
# capitalise all the skills in the Skills column 
high_skills_df['Skills'] = high_skills_df['Skills'].str.capitalize()
high_skills_df['Average Salary ($)'] = high_skills_df['Average Salary ($)'].apply(lambda x: f"{x:,}")
# switch columns position 
high_skills_df = high_skills_df[['Skills','Demand Count','Average Salary ($)']]
high_skills_df
high_skills_df.to_csv('./table_result/high_skills.csv', index=False)